@font-face {
  font-family: "HoneywellSans-Medium";
  src: url("HoneywellSans-Medium.otf");
}

@font-face {
  font-family: "HoneywellSans-MediumItalic";
  src: url("HoneywellSans-MediumItalic.otf");
}

@font-face {
  font-family: "HoneywellSans-Bold";
  src: url("HoneywellSans-Bold.otf");
}
@font-face {
  font-family: "HoneywellSans-BoldItalic";
  src: url("HoneywellSans-BoldItalic.otf");
}
@font-face {
  font-family: "HoneywellSans-Extrabold";
  src: url("HoneywellSans-Extrabold.otf");
}
@font-face {
  font-family: "HoneywellSans-Book";
  src: url("HoneywellSans-Book.otf");
}
@font-face {
  font-family: "HoneywellSans-BookItalic";
  src: url("HoneywellSans-BookItalic.otf");
}
