$pageBackgroundColor: #151f2b;
$popupBackgroundColor: #171717;
$containerBgColor: #202020;
$headerFooterBgColor: $containerBgColor;
$modalBackgroundColor: #193348;
$linkColor: #45a8ea;
$blackColor: #000000;
$whiteColor: #ffffff;
$titlelinkColor: #8bc9f2;
$blueTheameTextColor: #8bc9f2;
$grayLabledColor: #b0b0b0;
$blueSelectionColor: #1272b2;
$filterTextColor: #D4D4D4;
$navItemTextColor:  #e0e0e0;
$transperentColor: rgba(0,0,0,0);
$greyBackgroundColor: #303030;
$hoverBgColor: #404040;
$blueBorderColor: #45A7EA;
$borderColor: #707070;
$itemTitleColor: #E0E0E0;
$buttonTextColor: #E7E7E7;
$popUpTextValueColor: #B9B9B9;
$dividerBorderColor: #505050;
$alaramHilightColor:#FF395B;
$greyBorderColor: #505050;
$standBgColor: #ee3124;
$freeTxtRedColor: #be271c;
$freeTxtYellowColor: #f5a623;
$selectedBlueColor: #1792e5;
$greyBgColor: #171717;
$flightInfoInboundFlightColor: #ffd153;
$flightInfoOutboundFlightColor: #00dafd;
$flightInfoModelICaoCodeColor: #c1c1c1;
$flightInfoACDMParamColor: #edefef;
$operatingMode_MAINTENANCE: #5F1210;
$operatingMode_LOCAL: #415061;
$blueTxtColor:#48C8FF;
$circularBorderColor:#979797;
$eventsInfoIndicatorColor:#7EB338;
$eventsWarningIndicatorColor: #f7b500;

/* Inputbox Colors */
$invalidInputBorderColor: #ee3124;
$errorMessageColor: #f1594f;

/* Checkbox Colors*/
$checkboxBgColor: rgba(0, 0, 0, 0.1);
$checkboxBorderColor: #E0E0E0;

/* Table Colors */
$tableHeaderRowBgColor: #171717;
$tableOddRowBgColor: #202020;
$tableEvenRowBgColor: #303030;
$tableHeaderRowTextColor: #6d6d6d;
$tableRowTextColor: #E0E0E0;



