$medium: 'HoneywellSans-Medium';
$mediumItalic: 'HoneywellSans-MediumItalic';
$bold: 'HoneywellSans-Bold';
$boldItalic: 'HoneywellSans-BoldItalic';
$extraBold: 'HoneywellSans-Extrabold';
$book: 'HoneywellSans-Book';
$bookItalic: 'HoneywellSans-BookItalic';
